<a href="/add">Add</a>
<p>You have {{todos.length}} tasks</p>
<ul>
    <li ng-repeat="todo in todos | filterByCompleted:filterParameter | sortBy:propertyName:reverse">
        <div class="view">
            <a class="name" href="/edit/{{todo.id}}">{{todo.name}}</a><br/>
            <span class="date">{{todo.date | date}}</span>
            <input type="checkbox" ng-checked="todo.completed" ng-model="todo.completed">
            <input type="submit" value="delete" ng-click="deleteTodo($index)">
        </div>
    </li>
</ul>
<div>
    <button ng-click="filterParameter = ''">All</button>
    <button ng-click="filterParameter = true">Completed</button>
    <button ng-click="filterParameter = false">New</button>
</div>
<div>
    <button ng-click="propertyName ='name'; reverse = !reverse">Sort by name</button>
    <button ng-click="propertyName ='date'; reverse = !reverse">Sort by date</button>
</div>
<div>
    <button ng-repeat="item in dateOptions" ng-click="setDatePeriod(item.date)">{{item.name}}</button>
</div>