<div class="edit" ng-init="toggleEditMode()">
    <form ng-submit="saveNews()" name="saveNewsForm" novalidate>
        <input type="text" name="newsTitle" ng-model="currentNewsTitle" required>
        <span ng-show="saveNewsForm.newsTitle.$error.required">This field is required.</span><br/>
        <input type="text" name="newsContent" ng-model="currentNewsContent" required ng-minlength="5">
        <span ng-show="saveNewsForm.newsContent.$error.minlength">Min length is 5.</span><br/>
        <div>
            <input type="submit" value="save"
                   ng-disabled="saveNewsForm.newsTitle.$error.required ||
                               saveNewsForm.newsContent.$error.minlength ||
                               saveNewsForm.newsContent.$error.required">
        </div>
    </form>
</div>