<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
</head>
<body class="container">
<main>
    <h1>Error</h1>
</main>
<footer>
    <% include ./footer.ejs %>
</footer>
</body>
</html>



