<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
</head>
<body class="container">
<main>
    <h1>Page</h1>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
</main>
<footer>
    <% include ./footer.ejs %>
</footer>
</body>
</html>



