<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
</head>
<body class="container">
<main>
    <form action="/login" method="post">
        <label>Email</label>
        <input type="text" name="email">
        <label>Password</label>
        <input type="password" name="password">
        <input type="submit" value="Login">
    </form>
    <p>Need an account? <a href="/signup">Signup</a></p>
    <p>Or go <a href="/">home</a>.</p>
</main>
<footer>
    <% include ./footer.ejs %>
</footer>
</body>
</html>
